<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        
        <mapping class="no.zsoft.faktura.domain.User"/>
<!--         <mapping class="no.zsoft.ims.domain.Reciever"/> -->
<!--         <mapping class="no.zsoft.ims.domain.Transaction"/> -->
<!--         <mapping class="no.zsoft.ims.domain.CustomerImageId"/> -->

    </session-factory>
    
</hibernate-configuration>